.git
.svn
.netrwhist
.cache
cd.bat
init.bat
install.bat
_else
vim74
backup/*
swp/*
my_plugin
.ycm_extra_conf.pyc
vimfiles/bin/nodejs
vimfiles/bin/phantomjs
vimfiles/bin/python
vimfiles/bin/ruby
vimfiles/bin/_package
vimfiles/bin/setx.exe
vimfiles/bin/git
vimfiles/bin/MinGW
vimfiles/bundle
