<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible" />
    <title>_td_title合作视频 - 爱拍游戏!aipai!</title>
    <link href="img/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/common.js"></script>
</head>
<body>

<!--=S search -->
<div class="search">
    <div class="ser_form">
    <form name="search" action="http://so.aipai.com/search" method="get" target="_blank" id="search">
        <input class="stext" type="text" value="请输入关键字" name="key" id="key" onclick="if (this.value=='请输入关键字'){this.value=''} " onblur="if (value ==''){value='请输入关键字'}" />
        <input type="hidden" name="gameid" value="_td_gameid_" />
        <a href="#" class="sbtn" onclick="searchSend(_td_gameid_);return false;">搜索</a>
    </form>
    </div>
    <div class="ser_txt">
        <a target="_blank" href="http://www.aipai.com/download/up.html">上传视频</a>
        <a target="_blank" href="http://www.aipai.com/">看游戏视频，上aipai.com</a>
        <a target="_blank" href="http://www.aipai.com/download/baobao.html">下载玩家宝宝</a>
    </div>
</div>
<!--=E search -->

<!--=S wlist -->
<div class="wlist">
    <ul class="wrapfix">
        <tal:block repeat="value assets">
        <li>
            <a class="pic" href="" target="_blank" tal:attributes="title value/title;href value/url">
            <span></span>
            <img src="../../temp/120x87.jpg" width="120" height="87" tal:attributes="src value/big;alt value/title" /></a>
            <h5><a href="" target="_blank" tal:attributes="title value/title;href value/url" tal:content="value/title">虫族的基础教学,训练营地图</a></h5>
            <p>作者：<a target="_blank" href="#" tal:attributes="title value/nickname;href value/bidUrl" tal:content="value/nickname">幽灵战队幽灵战队</a></p>
        </li>
        </tal:block>
        <tal:block replace="">
        <li>
            <a class="pic" href="" target="_blank">
            <span></span>
            <img src="../../temp/120x87.jpg" width="120" height="87" /></a>
            <h5><a href="" target="_blank">我最爱的玫瑰花就是你送的哦！</a></h5>
            <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
        </li>
        </tal:block>
    </ul>
</div>
<!--=E wlist -->



















<!--=S wlist -->
<div class="wlist">
    <ul class="wrapfix">
        <tal:block repeat="value assets">
            <li>
                <a class="pic" target="_blank" href="#" tal:attributes="title value/title;href value/url">
                    <span></span>
                    <img src="../../temp/120x87.jpg" width="120" height="87" alt=""  tal:attributes="alt value/title;src value/big"/>
                </a>
                <div class="txt">
                    <h5><a target="_blank" href="#" tal:attributes="title value/title;href value/url" tal:content="value/title">轰轰炸机发动机损坏如何</a></h5>
                    <p>作者：<a target="_blank" href="#" tal:attributes="title value/nickname;href value/bidUrl" tal:content="value/nickname">幽灵战队幽灵战队</a><br />人气：<tal:block tal:content="value/click">28581</tal:block><br />鲜花：<span tal:content="value/flower">200</span></p>
                </div>
            </li>
        </tal:block>

        <tal:block replace="">
            <li>
                <a class="pic" target="_blank" href="#">
                    <span></span>
                    <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
                </a>
                <div class="txt">
                    <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                    <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a><br />人气：4448<br />鲜花：<span>780</span></p>
                </div>
            </li>
        </tal:block>
    </ul>
</div>
<!--=E wlist -->
<!--=S wlist -->
<div class="wlist">
    <tal:block repeat="item assets">
        <ul class="wrapfix">
        <tal:block repeat="value item">
            <li>
                <a class="pic" target="_blank" href="#" tal:attributes="title value/title;href value/url">
                    <span></span>
                    <img src="../../temp/120x87.jpg" width="120" height="87" alt=""  tal:attributes="alt value/title;src value/big"/>
                </a>
                <div class="txt">
                    <h5><a target="_blank" href="#" tal:attributes="title value/title;href value/url" tal:content="value/title">轰轰炸机发动机损坏如何</a></h5>
                    <p>作者：<a target="_blank" href="#" tal:attributes="title value/nickname;href value/bidUrl" tal:content="value/nickname">幽灵战队幽灵战队</a></p>
                </div>
            </li>
        </tal:block>
        <tal:block replace="">
            <li>
                <a class="pic" target="_blank" href="#">
                    <span></span>
                    <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
                </a>
                <div class="txt">
                    <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                    <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
                </div>
            </li>
            <li>
                <a class="pic" target="_blank" href="#">
                    <span></span>
                    <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
                </a>
                <div class="txt">
                    <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                    <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
                </div>
            </li>
            <li>
                <a class="pic" target="_blank" href="#">
                    <span></span>
                    <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
                </a>
                <div class="txt">
                    <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                    <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
                </div>
            </li>
        </tal:block>
        </ul>
    </tal:block>
    <tal:block replace="">
    <ul class="wrapfix">
        <li>
            <a class="pic" target="_blank" href="#">
                <span></span>
                <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
            </a>
            <div class="txt">
                <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
            </div>
        </li>
        <li>
            <a class="pic" target="_blank" href="#">
                <span></span>
                <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
            </a>
            <div class="txt">
                <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
            </div>
        </li>
        <li>
            <a class="pic" target="_blank" href="#">
                <span></span>
                <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
            </a>
            <div class="txt">
                <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
            </div>
        </li>
        <li>
            <a class="pic" target="_blank" href="#">
                <span></span>
                <img src="../../temp/120x87.jpg" width="120" height="87" alt="" />
            </a>
            <div class="txt">
                <h5><a target="_blank" href="#">轰轰炸机发动机损坏如何</a></h5>
                <p>作者：<a target="_blank" href="#">幽灵战队幽灵战队</a></p>
            </div>
        </li>
    </ul>
    </tal:block>
</div>
<!--=E wlist -->
<!--=S page -->
<div class="pagew" tal:omit-tag="" metal:use-macro="macro/search.html/pager">
    <div class="page1">
        <ul>
            <li class="spe">共<span>9</span>页</li>
            <li class="next"><a href="" title="下页"></a></li>
            <li class="before"><a href="" title="上页"></a></li>
            <li><a href="">2</a></li>
            <li class="noLink">1</li>
        </ul>
    </div>
</div>
<!--=E page -->

        <div class="cur_page">
            <tal:block  metal:use-macro="macro/menu.html/gb_pages">
                <!--==S gb_page -->
                <div class="gb_pages">
                    <div class="gb_page_con">
                        <a class="gb_page_prev" href="#" title="上一页">上一页</a>
                        <a class="gb_page_first" href="#" title="第1页">1 ...</a>
                        <a href="#" title="第2页">2</a>
                        <a href="#" title="第3页">3</a>
                        <a href="#" title="第4页">4</a>
                        <span class="gb_page_cur" title="当前页">5</span>
                        <a href="#" title="第6页">6</a>
                        <a href="#" title="第7页">7</a>
                        <a href="#" title="第8页">8</a>
                        <a class="gb_page_last" href="#" title="最后一页">... 9</a>
                        <a class="gb_page_next" href="#" title="下一页">下一页</a>
                        <span class="gb_page_info">共<em>8477</em>条</span>
                    </div>
                 </div>
                 <!--==E gb_page -->
            </tal:block>
        </div>

<div style="display:none;"><script src="http://s11.cnzz.com/stat.php?id=2100536&web_id=2100536" language="JavaScript"></script></div>
</body>
</html>
