<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>demo HTML5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="apple-touch-icon" sizes="57x57" href="http://m.kugou.com/static/images/index2013/apple-touch-icon-114x114.png"/>  
    <link rel="apple-touch-icon" sizes="114x114" href="http://m.kugou.com/static/images/index2013/apple-touch-icon-114x114.png"/>  
    <link rel="apple-touch-icon" sizes="72x72" href="http://m.kugou.com/static/images/index2013/apple-touch-icon-144x144.png"/>  
    <link rel="apple-touch-icon" sizes="144x144" href="http://m.kugou.com/static/images/index2013/apple-touch-icon-144x144.png"/>
    <script>
        (function() {
             if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                var vw = window.innerWidth || document.documentElement.clientWidth,
                fs = Math.ceil((vw  * 16) / 480);
                if(fs%2 == 1){
                    fs++;
                }
                document.getElementsByTagName("html")[0].style.fontSize = fs + "px";
            }
        })();
    </script>
</head>
<body>
</body>
</html>
<script charset="utf-8">
/*
 *页面入口
 */
function pageInit(){
}
pageInit();
</script>
