<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>酷狗专题demo - 酷狗音乐</title>
    <meta name="keywords" content="酷狗,酷狗2013,酷狗2013免费下载,酷狗2012,酷狗2012免费下载,酷狗7,酷狗2011,酷狗电台,在线试听,免费下载" />
    <meta name="description" content="" />
    <link href="{$kg_domain}/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--S 头部 -->
    <div class="commonTop"><iframe name="commonTop" marginwidth="0" marginheight="0" width=100% height="35" src="http://topic1.kugou.com/2011/inc/top.html" frameborder="0"  scrolling="no"></iframe></div>
    <!--E 头部 -->



    <!--S footer -->
    <div class="footer">
        <p class="nav">
        <a href="http://www1.kugou.com/about/default.html" title="关于酷狗" target="_blank">关于酷狗</a> |  <a href="http://www1.kugou.com/about/adservice.html" title="广告服务" target="_blank">广告服务</a>  |  <a href="http://www1.kugou.com/about/union.html" title="友情链接" target="_blank">友情链接</a>  |  <a href="http://www1.kugou.com/about/hr.aspx" title="招聘信息" target="_blank">招聘信息</a>  |  <a href="http://www1.kugou.com/service/" title="客服中心" target="_blank">客服中心</a> |  <a href="http://topic.kugou.com/2011/ued/" title="用户体验提升计划" target="_blank">用户体验提升计划</a><br />网络视听许可证1910564号 文网文[2010]175号 Copyright (C) 2004-2013 KuGou-Inc.All Rights Reserved 
        </p>
    </div>
    <!--E footer -->
</body>
</html>
<script type="text/javascript" src='http://www.kugou.com/newuc/static/js/popuplogin_v.1-min.js'></script>
<script type="text/javascript" src="http://static.kugoo.com/common/js-lib/min/base-min.js"></script>
<script type="text/javascript" src="http://static.kugoo.com/common/js-lib/min/LightBox-min.js"></script>
