<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>HTML5 mobile title</title>
    <!--ViewPortMeta设置，禁止手动缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--屏蔽拨号链接-->
    <meta name="format-detection" content="telephone=no" />
    <!--不自动将地址和email转为链接-->
    <meta name="format-detection" content="address=no;email=no" />
    <!--ios 隐藏浏览器导航栏-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--ios 收藏图标-->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-114x114.png"/>  
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png"/>  
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-144x144.png"/>  
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png"/>
    <!--ios 添加到主屏时的图标-->
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-144x144.png">
    <!--ios 删除蒙层-->
    <link rel="apple-touch-startup-image" href="img-320-460.png">

    <style type="text/css">
    /*reset*/
    body{font-family:tahoma,arial,\5b8b\4f53,sans-serif;}
    html{-webkit-text-size-adjust:100%;}
    div{transform:translateZ(0);}
    </style>
</head>
<body>
</body>
</html>
