<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Keywords" content="爱拍游戏,玩家宝宝,库库马力" />
    <meta name="Description" content="爱拍游戏和小小忍者合作 " />
    <meta name="googlebot" content="index, follow" />
    <title>库库马力 - 爱拍游戏!aipai!</title>
    <link href="../../common/img/style.css" rel="stylesheet" type="text/css" />
    <link href="img/kuku.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    <!--
        html{overflow-x:hidden;}
        body{background:none;}
        .wraper{background:none;}
    -->
    </style>
</head>
<body>
<div class="wraper">
    <div class="mod_video">
        <div class="video_list wrapfix">
            <div class="hd"><h6></h6></div>
            <div class="bd wrapfix">
            <div class="video_box">
            <tal:block repeat="values assets">
                <ul class="wrapfix">
                <tal:block repeat="value values">
                    <li>
                        <a href="#" target="_blank" class="pic" tal:attributes="title value/title;href value/url">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和" tal:attributes="alt value/title;src value/big"/></a>
                        <h5><a href="#" target="_blank" tal:attributes="title value/title;href value/url" tal:content="value/title">体验服最新好枪和最新好枪和最新好枪和</a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="http://www.aipai.com/space.php?bid=${value/bid}"  tal:content="value/nickname">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq" tal:content="value/click">12435535</span>
                        </p>
                    </li>
                </tal:block>

                <tal:block replace="">
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                </tal:block>
                </ul>
            </tal:block>

            <tal:block replace="">
                <ul class="wrapfix">
                    <li>
                        <a href="#" target="_blank" class="pic" tal:attributes="title value/linkTitle;href value/linkURL">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和" tal:attributes="alt value/linkTitle;src value/imageSrc"/></a>
                        <h5><a href="#" target="_blank" tal:attributes="title value/linkTitle;href value/linkURL" tal:content="value/title">体验服最新好枪和最新好枪和最新好枪和</a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="http://www.aipai.com/space.php?bid=${value/bid}"  tal:content="value/nickname">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq" tal:content="value/click">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="pic">
                        <span></span>
                        <img height="87" width="120" src="../../common/temp/120x87.jpg" alt="体验服最新好枪和最新好枪和最新好枪和"/></a>
                        <h5><a href="#" target="_blank">体验服最新好枪和最新好枪和最新好枪和 </a></h5>
                        <p>
                            作者：<a class="author" target="_blank" href="#">酸菜酸菜酸菜菜</a><br />
                            人气：<span class="rq">12435535</span>
                        </p>
                    </li>
                </ul>
          </tal:block>
          </div>

                <div class="cur_page">
                    <tal:block  metal:use-macro="macro/menu.html/gb_pages">
                        <!--==S gb_page -->
                        <div class="gb_pages">
                            <div class="gb_page_con">
                                <a class="gb_page_prev" href="#" title="上一页">上一页</a>
                                <a class="gb_page_first" href="#" title="第1页">1 ...</a>
                                <a href="#" title="第2页">2</a>
                                <a href="#" title="第3页">3</a>
                                <a href="#" title="第4页">4</a>
                                <span class="gb_page_cur" title="当前页">5</span>
                                <a href="#" title="第6页">6</a>
                                <a href="#" title="第7页">7</a>
                                <a href="#" title="第8页">8</a>
                                <a class="gb_page_last" href="#" title="最后一页">... 9</a>
                                <a class="gb_page_next" href="#" title="下一页">下一页</a>
                                <span class="gb_page_info">共<em>8477</em>条</span>
                            </div>
                         </div>
                         <!--==E gb_page -->
                    </tal:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


